## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [47]:
import pandas as pd, matplotlib.pyplot as plt, numpy as np

lego = pd.read_csv('datasets/lego_sets.csv')
parent = pd.read_csv('datasets/parent_themes.csv')
lego = lego.dropna(subset=['set_num'])
display(lego.head())
parent.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [48]:
licensed = parent[parent['is_licensed']]
licensed['name'] = licensed['name'].str.lower()
licensed['name'] = licensed['name'].str.strip()
licensed.head()

     id                      name  is_licensed
7   158                 star wars         True
12  246              harry potter         True
16  263  pirates of the caribbean         True
17  264             indiana jones         True
18  269                      cars         True

In [49]:
lego['parent_theme'] = lego['parent_theme'].str.lower()
lego['parent_theme'] = lego['parent_theme'].str.strip()
display(lego[lego['parent_theme']=='star wars'].head())

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,star wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,star wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,star wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,star wars
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,star wars

In [50]:
lego[lego['parent_theme'].isin(licensed['name'])]


the_force = 100 * len(lego[lego['parent_theme']=='star wars'])//len(lego[lego['parent_theme'].isin(licensed['name'])])
the_force

51

In [51]:
licensed_theme = lego[lego['parent_theme'].isin(licensed['name'])]
licensed_theme.head()

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,star wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,star wars
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,star wars
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,star wars
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,super heroes

In [23]:
pd.set_option('display.max_rows', None)
df = licensed_theme.groupby(['year', 'parent_theme'])['set_num'].count()
df

year  parent_theme
1999  star wars                           13
2000  disney's mickey mouse                5
      star wars                           26
2001  harry potter                        11
      star wars                           14
2002  harry potter                        19
      star wars                           28
      super heroes                         3
2003  harry potter                         3
      star wars                           32
      super heroes                         5
2004  harry potter                        14
      star wars                           20
      super heroes                         6
2005  disney's mickey mouse                1
      harry potter                         5
      star wars                           28
      super heroes                         1
2006  avatar                               2
      spongebob squarepants                3
      star wars                           11
      super heroes                         8
2007  harry potter                         1
      spongebob squarepants                2
      star wars                           16
      super heroes                         2
2008  indiana jones                       12
      spongebob squarepants                3
      star wars                           23
      super heroes                         5
2009  indiana jones                        7
      spongebob squarepants                2
      star wars                           39
2010  ben 10                               6
      harry potter                         6
      prince of persia                     6
      star wars                           30
      toy story                           15
2011  cars                                18
      harry potter                         8
      pirates of the caribbean            16
      spongebob squarepants                2
      star wars                           32
      super heroes                         5
2012  cars                                 9
      minecraft                            1
      spongebob squarepants                2
      star wars                           43
      super heroes                        32
      teenage mutant ninja turtles         2
      the hobbit and lord of the rings    20
2013  minecraft                            2
      star wars                           35
      super heroes                        19
      teenage mutant ninja turtles         9
      the hobbit and lord of the rings    13
      the lone ranger                      8
2014  disney princess                      8
      minecraft                            7
      star wars                           45
      super heroes                        23
      teenage mutant ninja turtles        10
      the hobbit and lord of the rings     6
2015  disney princess                      4
      jurassic world                       7
      minecraft                            4
      scooby-doo                           5
      star wars                           58
      super heroes                        28
      the hobbit and lord of the rings     1
2016  angry birds                          6
      disney                               1
      disney princess                     11
      ghostbusters                         1
      minecraft                            7
      scooby-doo                           1
      star wars                           61
      super heroes                        33
2017  disney princess                      6
      minecraft                            9
      pirates of the caribbean             1
      star wars                           55
      super heroes                        72
Name: set_num, dtype: int64

In [8]:
# Just look at the above
new_era = 2017

# **Using pd.Series.mode**

We can see that "super heroes" appear in 2017.

In [52]:
licensed_theme.groupby('year')['parent_theme'].apply(pd.Series.mode)

year
1999  0       star wars
2000  0       star wars
2001  0       star wars
2002  0       star wars
2003  0       star wars
2004  0       star wars
2005  0       star wars
2006  0       star wars
2007  0       star wars
2008  0       star wars
2009  0       star wars
2010  0       star wars
2011  0       star wars
2012  0       star wars
2013  0       star wars
2014  0       star wars
2015  0       star wars
2016  0       star wars
2017  0    super heroes
Name: parent_theme, dtype: object

In [74]:
licensed_theme.groupby('year').get_group(2001)#[['parent_theme']].get_group('2004')

,set_num,name,year,num_parts,theme_name,parent_theme
44,10018-1,Darth Maul,2001,1868.0,Star Wars,star wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,star wars
4429,4701-1,Sorting Hat,2001,NaN,Sorcerer's Stone,harry potter
4430,4702-1,The Final Challenge,2001,NaN,Sorcerer's Stone,harry potter
4431,4704-1,The Chamber of the Winged Keys,2001,180.0,Sorcerer's Stone,harry potter
4432,4705-1,Snape's Class,2001,NaN,Sorcerer's Stone,harry potter
4433,4706-1,Forbidden Corridor,2001,239.0,Sorcerer's Stone,harry potter
4434,4707-1,Hagrid's Hut,2001,298.0,Sorcerer's Stone,harry potter
4435,4708-1,Hogwarts Express,2001,412.0,Harry Potter,harry potter
4436,4709-1,Hogwarts Castle,2001,NaN,Sorcerer's Stone,harry potter
4445,4721-1,Hogwarts Classroom,2001,NaN,Sorcerer's Stone,harry potter
4446,4722-1,Gryffindor,2001,70.0,Sorcerer's Stone,harry potter
4447,4723-1,Diagon Alley Shops,2001,85.0,Sorcerer's Stone,harry potter
6382,65028-1,Star Wars Co-Pack of 7115 7124 and 7141,2001,3.0,Star Wars Episode 1,star wars
6383,65030-1,Star Wars Co-Pack of 7104 and 7144,2001,2.0,Star Wars Episode 4/5/6,star wars
6385,65034-1,Star Wars Co-Pack of 7121 and 7161,2001,2.0,Star Wars Episode 1,star wars
7727,7106-1,Droid Escape,2001,45.0,Star Wars Episode 4/5/6,star wars
7794,7126-1,Battle Droid Carrier,2001,NaN,Star Wars Episode 1,star wars
7798,7127-1,Imperial AT-ST,2001,NaN,Star Wars Episode 4/5/6,star wars
7842,7146-1,TIE Fighter,2001,NaN,Star Wars Episode 4/5/6,star wars
7861,7166-1,Imperial Shuttle,2001,238.0,Star Wars Episode 4/5/6,star wars
7878,7186-1,Watto's Junkyard,2001,449.0,Star Wars Episode 1,star wars
9176,8007-1,C-3PO™,2001,340.0,Star Wars,star wars
9177,8008-1,Stormtrooper™,2001,NaN,Star Wars,star wars
11816,VP-2,Star Wars Co-Pack of 7110 and 7144,2001,2.0,Star Wars Episode 4/5/6,star wars